@font-face {
  font-family: Latch;
  src: url("../fonts/LatchRegular.otf") format("opentype");
  font-weight: 400;
  font-style: normal;
}

@font-face {
  font-family: Latch;
  src: url("../fonts/LatchMedium.otf") format("opentype");
  font-weight: 600;
  font-style: normal;
}

@font-face {
  font-family: Latch;
  src: url("../fonts/LatchBold.otf") format("opentype");
  font-weight: 700;
  font-style: normal;
}

* {
  box-sizing: border-box;
}

:root {
  font-family: Latch, Arial, Helvetica, sans-serif;
  --canvas-opacity: 0.4;
  --focus-blue: #1a73e8;

  --selection-background: #fecf3b;
  --selection-font: var(--font-1);

  --footer: #fff;
  --background: #ededed;
  --font-1: #141414;
  --font-2: #141414b3;
  --font-3: rgba(20, 20, 20, 0.3);

  --button: rgb(20, 20, 20, 0.05);
  --button-hover: rgb(20, 20, 20, 0.15);
  --button-shadow: rgb(0, 0, 0, 0.1);

  --music-background: #fff;
  --music-border: #dbdbdb;
  --music-hover: #d3d3d3;

  --icon-blue: #69aaff;
  --hidden-message-background: #D4E3F7;
  --hidden-message-font: #00439B;
}

.dark {
  --canvas-opacity: 0.6;

  --selection-background: var(--focus-blue);
  --selection-font: var(--font-1);

  --footer: #000;
  --background: #141414;
  --font-1: #ededed;
  --font-2: #f5f5f5b3;
  --font-3: rgba(245, 245, 245, 0.3);

  --button: rgb(245, 245, 245, 0.05);
  --button-hover: rgb(245, 245, 245, 0.2);
  --button-shadow: rgb(255, 255, 255, 0.15);

  --music-background: #222;
  --music-border: #444;
  --music-hover: #000;

  --icon-blue: #1a73e8;
  --hidden-message-background: #202F43;
  --hidden-message-font: #8FB9EF;
}

::selection {
  background: var(--selection-background);
  color: var(--selection-font);
}

.hide-title-break,
.hide {
  display: none;
}

.blur {
  -webkit-backdrop-filter: blur(12px);
  backdrop-filter: blur(12px);
}

canvas {
  opacity: var(--canvas-opacity);
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  z-index: -1;
}

body {
  background-color: var(--background);
  overflow-y: scroll;
  margin: 0;
}

.site-wrapper {
  padding: 24px;
  margin-bottom: 96px;
}

.row {
  display: flex;
  flex-direction: row;
  align-items: center;
}

.col {
  display: flex;
  flex-direction: column;
  align-items: center;
}

h1,
h2,
h3,
h6,
p,
a {
  color: var(--font-1);
  margin: 0;
  font-weight: 600;
}

.dark h1,
.dark h2,
.dark h3,
.dark h6,
.dark p,
.dark a {
  font-weight: 400;
}

h1 {
  font-size: 28px;
}

h2 {
  font-size: 20px;
}

h3,
h6 {
  font-size: 18px;
}

/* removed h3 due to text clipping */
p {
  line-height: 20px;
}

p {
  font-size: 16px;
}

.clamp-text {
  overflow: hidden;
  text-overflow: ellipsis;
  display: -webkit-box;
  -webkit-line-clamp: 1;
  line-clamp: 1;
  -webkit-box-orient: vertical;
}

nav,
.top,
main,
.footer-wrapper {
  width: 100%;
  max-width: 1124px;
  margin-inline: auto;
}

@media only screen and (max-width: 1236px) {
  nav,
  .top,
  main,
  .footer-wrapper {
    max-width: 828px;
  }
}

@media only screen and (max-width: 940px) {
  nav,
  .top,
  main,
  .footer-wrapper {
    max-width: 612px;
  }

  div#music,
  .work-item-line {
    display: none;
  }

  main .work-item {
    justify-content: space-between;
    height: 72px;
    padding: 8px 12px;
  }

  h1 {
    text-wrap: balance;
  }
}

@media only screen and (max-width: 670px) {
  h1 {
    font-size: 18px;
  }

  h2 {
    font-size: 18px;
  }

  h3,
  h6 {
    font-size: 16px;
  }

  p {
    font-size: 14px;
  }

  .footer-wrapper,
  .site-wrapper {
    padding: 12px 16px;
  }

  nav,
  .top,
  main,
  .footer-wrapper {
    max-width: 100%;
  }

  .site-wrapper .top {
    min-height: 400px;
  }

  .site-wrapper .top-content {
    margin-bottom: 40px;
  }

  .button-wrapper {
    gap: 12px;
  }

  .tool-tip,
  .work-item-date,
  canvas,
  #canvas-state {
    display: none;
  }

  .footer-filled {
    background-color: transparent !important;
  }

  main .work-info {
    gap: 12px;
  }

  .hide-title-break {
    display: block;
  }
}
