* {
    box-sizing: border-box;
}

::-webkit-scrollbar {
    width: 10px;
}

::-webkit-scrollbar-track {
    background: #000000;
}

::-webkit-scrollbar-thumb {
    background: #222222;
}

::-webkit-scrollbar-thumb:hover {
    background: #181818;
}

body {
    margin: 0;
    font-family: Arial;
}

.header {
    text-align: center;
    padding: 32px;
}

.row {
    display: -ms-flexbox;
    /* IE10 */
    display: flex;
    -ms-flex-wrap: wrap;
    /* IE10 */
    flex-wrap: wrap;
    padding: 0 4px;
}

.column {
    -ms-flex: 100%;
    flex: 100%;
    max-width: 100%;
}

.column img {
    margin-top: 30px;
    vertical-align: middle;
    width: 100%;
}

.fade-in {
    animation-name: fade-in;
    animation-duration: 2s;
}

@keyframes fade-in {
    from {
        opacity: 0;
    }
    to {
        opacity: 1;
    }
}