.top {
  min-height: calc(100vh - 200px);
  display: flex;
}

.top-content {
  max-width: 912px;
  align-self: center;
  margin-top: 24px;
  margin-bottom: 248px;
}

hr {
  clear: both;
  visibility: hidden;
  margin: 0;
}

.bot-space {
  margin-bottom: 64px;
}

.new-work-label {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 24px;
}

.new-work-label h2 {
  margin: 0;
}

.new-work {
  width: 100%;
  gap: 16px;
  margin-bottom: 48px;
}

.first-row {
  margin-bottom: 16px;
}

.link-item {
  justify-content: space-between;
  flex: 1;
  height: 318px;
  background-color: var(--work-background);
  border-radius: 24px;
  outline: 2px solid transparent;
  transition: all 0.2s;
}

.link-text {
  height: 100%;
  align-items: start;
  justify-content: flex-end;
  padding: 0 0 24px 24px;
}

.tm,
.link-text h3 {
  color: var(--font-2);
}

.link-img {
  height: 318px;
  overflow: hidden;
  border-radius: 0 24px 24px 0;
}

.link-img img {
  user-select: none;
  height: 318px;
  margin-right: -1px;
  object-fit: cover;
  transition: all 0.3s ease;
}

.link-item:hover {
  background-color: var(--music-hover);
}

.link-item:hover img,
.link-item:focus-visible img {
  transform: scale(1.1);
}
