.top {
  min-height: calc(100vh - 200px);
  display: flex;
}

.top-content {
  max-width: 912px;
  align-self: center;
  margin-top: 24px;
  margin-bottom: 248px;
}

.title-wrapper {
  justify-content: space-between;
  align-items: flex-start;
  margin-bottom: 36px;
}

hr {
  clear: both;
  visibility: hidden;
  margin: 0;
}
