#music {
  display: flex;
  align-items: center;
  gap: 12px;
  position: absolute;
  bottom: 24px;
  right: 24px;
  width: 300px;
  height: 84px;
  padding: 10px 12px;
  border-radius: 8px;
  border: 1px solid var(--music-border);
  outline: 2px solid transparent;
  background-color: var(--music-background);
  transition: all 0.2s;
}

#music:hover {
  background-color: var(--music-hover);
}

.music-details {
  flex: 1;
}

.music-title {
  font-size: 12px;
  color: var(--font-2);
}

.artist-name {
  font-size: 14px;
}

.album-cover {
  height: 64px;
  width: 64px;
  border-radius: 4px;
  background-color: var(--background);
}

.music-anim {
  height: 20px;
  margin-right: 12px;
}
