:root {
    /* color-scheme: dark; */
    font-family: Arial, Helvetica, sans-serif;
    --background: #f5f5f5;
    --font: #141414;
    --light-font: rgb(20, 20, 20, 0.8);
    --internship: #fff;
    --card-border: rgb(0, 0, 0, 0.01);
    --focus-card-border: rgb(0, 0, 0, 0.03);
    --focus-primary: hsl(0, 0%, 8%, 0.9);
    --focus-secondary: hsl(0, 0%, 8%, 0.45);
    --focus-tertiary: hsl(0, 0%, 8%, 0.1);

    --canvas-opac: 0.4;
    --blue: #1A73E8;
    --size: 1.5rem;
    --ray-size: calc(var(--size) * -0.4);
    --offset-orthogonal: calc(var(--size) * 0.7);
    --offset-diagonal: calc(var(--size) * 0.5);
}

.dark {
    --background: #000;
    --font: #f5f5f5;
    --light-font: rgba(245, 245, 245, 0.7);
    --internship: #f5f5f5;
    --card-border: rgb(245, 245, 245, 0.05);
    --focus-card-border: rgb(245, 245, 245, 0.1);
    --focus-primary: hsl(0, 0%, 96%, 0.9);
    --focus-secondary: hsl(0, 0%, 96%, 0.5);
    --focus-tertiary: hsl(0, 0%, 96%, 0.1);

    --canvas-opac: 0.6;
}

::selection {
    background: var(--background);
}

canvas {
    opacity: var(--canvas-opac);
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    z-index: -1;
}

/* #canvas {
    opacity: 0.6;
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    z-index: -1;
} */

body {
    background-color: var(--background);
    overflow-y: scroll;
    margin: 0;
    padding: 30px 50px 100px 50px;
}

nav, footer {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    gap: 50px;
}

nav {
    align-items: center;
}

footer {
    gap: 100px;
    margin-top: 150px;
    margin-bottom: 50px;
}

h1 {
    color: var(--font);
    font-size: 24px;
    margin: 0;
    font-weight: normal;
}

h2 {
    color: var(--font);
    font-size: 20px;
    margin: 0;
    font-weight: normal;
}

h3 {
    color: var(--font);
    font-size: 18px;
    margin: 0;
    font-weight: normal;
}

p {
    color: var(--font);
    font-size: 16px;
    margin: 0;
}

.grey {
    color: var(--light-font);
}

.bot-space {
    margin-bottom: 20px;
}

.top-space {
    margin-top: 10px;
    margin-bottom: 5px;
}

a:link, a:visited, a:active {
    cursor: pointer;
    color: var(--font);
    text-decoration: none;
}

a:hover, a.underline:hover {
    outline: none;
    text-decoration: underline;
}

a.underline:focus-visible, a:focus-visible {
    outline: 2px solid var(--blue);
}

a.underline {
    text-decoration: underline;
}

.max-width {
    max-width: 1920px;
}

.intro {
    margin-top: 220px;
}

.home {
    margin-bottom: 100px;
}

.about {
    max-width: 1200px;
}

.group {
    max-width: 250px;
}

.top {
    min-height: calc(100vh - 110px);
}

.experiences {
    margin-top: 50px;
}

.spacer {
    flex: 1;
}

.about-img {
    object-fit: cover;
    height: 400px;
    width: 100%;
    max-width: 800px;
    border-radius: 10px;
    margin-bottom: 20px;
}

.about-text {
    max-width: 980px;
}

.wrapper {
    width: 100%;
}

.banner {
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: hsl(218, 98%, 79%, 0.1);
    backdrop-filter: blur(10px);
    border-radius: 10px;
    border: 2px solid var(--card-border);
    height: 198px;
    cursor: pointer;
    transition: border 0.2s;
}

.banner-link:focus-visible .banner {
    border: 2px solid var(--blue);
    outline: none;
    background-size: 5px 5px;
    background-image: radial-gradient(circle at top left,var(--focus-tertiary) 0 13%,transparent 10%),radial-gradient(circle at top right,var(--focus-tertiary) 0 13%,transparent 10%),radial-gradient(circle at bottom left,var(--focus-tertiary) 0 13%,transparent 10%),radial-gradient(circle at bottom right,var(--focus-tertiary) 0 13%,transparent 10%),radial-gradient(var(--focus-tertiary) 0 26%,transparent 20%);
}

.banner-link:hover:not(:focus-visible) .banner {
    border: 2px solid var(--focus-card-border);
}

#uoft {
    background-color: hsl(5, 82%, 69%, 0.1);
}

#ooley {
    background-color: hsl(43, 100%, 66%, 0.1);
}

#pinecone {
    background-color: hsl(19, 100%, 73%, 0.1);
}

#kc {
    background-color: hsl(272, 100%, 82%, 0.1);
}

#shopify {
    background-color: hsl(146, 28%, 64%, 0.1);
}

#msft, #ld {
    background-color: var(--internship);
    cursor: default;
}

#msft .link, #ld .link {
    fill: hsl(0, 0%, 8%, 0.5);
}

.logo {
    transition: all 0.2s;
}

#uoft:hover .logo,
#live:hover .logo,
#ooley:hover .logo, #pinecone:hover .logo,
#kc:hover .logo, #shopify:hover .logo {
    transform: scale(1.2);
}

#uoft:hover .link,
#live:hover .link,
#ooley:hover .link, #pinecone:hover .link,
#kc:hover .link, #shopify:hover .link {
    fill: var(--focus-primary);
}

.link {
    position: absolute;
    bottom: 20px;
    right: 20px;
    fill: var(--focus-secondary);
    transition: fill 0.2s;
}

.row {
    display: flex;
    flex-direction: row;
    gap: 60px;
}

.gallery {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    gap: 24px;
}

.photos-img img, .gallery img {
    width: 300px;
    height: 375px;
    border-radius: 10px;
    border: 2px solid transparent;
    transition: border 0.2s;
}

.photos-img:hover img {
    border: 2px solid var(--focus-secondary);
}

.toggle {
    appearance: none;
    outline: none;
    cursor: pointer;
    min-width: var(--size);
    min-height: var(--size);
    box-shadow: inset calc(var(--size) * 0.33) calc(var(--size) * -0.25) 0;
    border-radius: 999px;
    color: #f5f5f5;
    transition: transform 0.2s, box-shadow 0.2s, color 0.2s, opacity 0.2s;
}

.toggle:hover {
    opacity: 0.8;
}

.toggle:focus-visible {
    outline: 2px solid var(--blue);
}

.toggle:checked {
    transform: scale(0.75);
    color: #141414;
    box-shadow: inset 0 0 0 var(--size), calc(var(--offset-orthogonal) * -1) 0 0 var(--ray-size), var(--offset-orthogonal) 0 0 var(--ray-size), 0 calc(var(--offset-orthogonal) * -1) 0 var(--ray-size), 0 var(--offset-orthogonal) 0 var(--ray-size), calc(var(--offset-diagonal) * -1) calc(var(--offset-diagonal) * -1) 0 var(--ray-size), var(--offset-diagonal) var(--offset-diagonal) 0 var(--ray-size), calc(var(--offset-diagonal) * -1) var(--offset-diagonal) 0 var(--ray-size), var(--offset-diagonal) calc(var(--offset-diagonal) * -1) 0 var(--ray-size);
}

.toggle {
    z-index: 1;
}

@media only screen and (max-width: 1270px) and (min-width: 769px){
    footer {
        gap: 50px;
    }
}

@media only screen and (max-width: 1070px) {
    footer {
        flex-direction: column;
        gap: 20px;
        margin-top: 80px;
        margin-bottom: 0;
    }
}

@media only screen and (max-width: 768px) {
    body {
        padding: 20px 16px 100px 16px;
    }

    nav{
        flex-direction: column;
        align-items: flex-start;
        gap: 20px;
    }

    nav .spacer {
        display: none;
    }

    .row {
        flex-direction: column;
        gap: 0;
    }
}
