@media (prefers-reduced-motion: no-preference) {
  a:focus-visible,
  button:focus-visible {
    transition: outline-offset 0.075s ease-out;
  }

  a:not(:active):focus-visible,
  button:not(:active):focus-visible {
    transition-duration: 0.2s;
  }

  button:active svg {
    transform: scale(0.8);
  }
}

.underline-animated {
  position: relative;
  display: inline-block;
}

.underline-svg {
  z-index: -1;
  position: absolute;
  bottom: -8px;
  left: 0;
  width: 100%;
  height: 12px;
}

.animated-path {
  stroke-dasharray: 100;
  stroke-dashoffset: 100;
  animation: draw 1s ease-in-out forwards;
}

@keyframes draw {
  to {
    stroke-dashoffset: 0;
  }
}

.underline-animated:hover .animated-path {
  animation: draw 0.6s ease-in-out forwards;
}

@media (prefers-reduced-motion: reduce) {
  canvas,
  #canvas-state {
    display: none;
  }

  .animated-path {
    stroke-dasharray: none;
    stroke-dashoffset: 0;
    animation: none;
  }
}
