.hero-banner {
    z-index: 0;
    max-width: 1600px;
    position: relative;
    margin-top: 24px;
    margin-inline: auto;
    padding: 24px 40px 64px 40px;
    background-color: var(--hero);
    border-radius: 24px;
}

.hero-banner h1 {
    font-size: 144px;
}

.hero-banner h2 {
    font-size: 54px;
    font-weight: 400;
}

.hero-banner h3 {
    line-height: 28px;
    color: var(--font-2);
    max-width: 700px;
}

.hero-image {
    z-index: -1;
    height: 100%;
    position: absolute;
    top: 0;
    right: 0;
}

@media only screen and (max-width: 1500px) {
    .hero-banner {
        border-radius: 0;
    }
}

@media only screen and (max-width: 670px) {
    .hero-banner {
        padding: 40px 24px;
    }

    .hero-banner h1 {
        font-size: 64px;
    }

    .hero-banner h2 {
        max-width: 250px;
        font-size: 32px;
        font-weight: 400;
    }

    .hero-banner h3 {
        line-height: unset;
    }

    .hero-image {
        z-index: -1;
        height: 300px;
        position: absolute;
        top: 0;
        right: 0;
    }
}