.guess-pair {
    display: flex;
    flex-direction: row;
}

.guess-pair img {
    width: 50%;
    max-width: 376px;
    margin-top: 20px;
    cursor: pointer;
}

.correct-choice {
    border: 5px solid green;
}

.incorrect-choice {
    border: 5px solid red;
}