* {
    box-sizing: border-box;
}

:root {
    font-family: 'Segoe UI', Arial, Helvetica, sans-serif;
    --focus-blue: #1A73E8;

    --selection-background: #FECF3B;
    --selection-font: var(--font-1);

    --background: #EDEDED;
    --font-1: #141414;
    --font-2: #141414B3;
    --font-3: rgba(20, 20, 20, 0.3);

    --button: rgb(20, 20, 20, 0.05);
    --button-hover: rgb(20, 20, 20, 0.15);
    --button-shadow: rgb(0, 0, 0, 0.1);

    --header-background: rgba(255, 255, 255, 0.8);
    --header-border: rgba(61, 61, 61, 0.2);
    --msg-shadow: rgba(100, 100, 111, 0.2);
    --msft: #777;

    --hero: #fff;
    --grad-1: #EADEFF;
    --grad-2: #DFEAFF;
    --grad-3: #F1FCFF;

    --green: #009E4C;
    --red: #F52500;
}

.dark {
    --selection-background: var(--focus-blue);
    --selection-font: var(--font-1);

    --background: #141414;
    --font-1: #EDEDED;
    --font-2: #F5F5F5B3;
    --font-3: rgba(245, 245, 245, 0.3);

    --button: rgb(245, 245, 245, 0.05);
    --button-hover: rgb(245, 245, 245, 0.20);
    --button-shadow: rgb(255, 255, 255, 0.15);

    --header-background: rgba(17, 17, 17, 0.3);
    --header-border: rgba(61, 61, 61, 0.75);
    --msg-shadow: rgba(24, 24, 24, 0.2);
    --msft: #fff;

    --hero: #000;
    --grad-1: #14192E;
    --grad-2: #2A345E;
    --grad-3: #2C294E;

    --green: #64F0A7;
    --red: #F06464;
}

::selection {
    background: var(--selection-background);
    color: var(--selection-font);
}

html {
    height: 100%;
}

body {
    height: fit-content;
    background-image: radial-gradient(farthest-corner at 40px 40px,
            var(--grad-1) 0%,
            var(--grad-2) 66%,
            var(--grad-3) 100%);
    margin: 0;
    background-repeat: no-repeat;
    background-attachment: fixed;
    margin: 0;
}

main {
    padding: 12px 24px;
    width: 100%;
    max-width: 1600px;
    margin-inline: auto;
}

h1,
h2,
h3,
h6,
p,
a {
    color: var(--font-1);
    margin: 0;
    font-weight: 400;
}

h1 {
    font-weight: 600;
    font-size: 28px;
}

h2 {
    font-weight: 600;
    font-size: 20px;
}

h3,
h6 {
    font-size: 18px;
}

p {
    font-size: 16px;
}

hr {
    clear: both;
    visibility: hidden;
    margin: 0;
}

.mono {
    font-family: monospace;
    font-size: 14px;
}

@media only screen and (max-width: 670px) {
    main {
        padding: 24px 12px;
    }

    h1 {
        font-size: 22px;
    }

    h2 {
        font-size: 18px;
    }

    h3,
    h6 {
        font-size: 16px;
    }

    p {
        font-size: 14px;
    }
}